body{
  background:#FFF7EE;

}
#social-container{
  background: #456B35;
  padding: 0.5em;
}

#logo-container .callout{
  background-color: #FFF7EE;
  color: #9C9E4B;

}
h1, h2, h3, h4, h5, h6, button{
    font-family: 'Gloria Hallelujah', cursive;
}
#menu-container{
  background: #fff7ee;
}
#menu-container li a{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
#menu-container li a:hover{
  color:#456B35;

}
#submenu-container li a{
  background: #fff7ee;

}
#submenu-container{
  border:none;
  border: 1px solid #456b35;
  border-bottom-lef-radius: 3px;
  border-bottom-right-radius: 3px;
}
.logo{
  width: 15%;
  height: auto;
}
#tickets-action .callout button{
  color: #456b35;
  border-color: #456b35;

}
#lineup-container,
#lineup-container .tabs,
#lineup-container .tabs .tabs-title{
  background: #456b35;
  color: #fff7ee;
  padding: 0.5em;
}
#lineup-container .tabs .tabs-title a{
  font-size: 18px;

}
#lineup-container .tabs .tabs-title a:hover{
  background: #fff7ee;
  color: #9C9E4B;
}
.tabs-title{
  display: inline-block;
  float: none;
}
